
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-github-text:before { content: '\f307'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
.icon-vimeo-rect:before { content: '\f30e'; } /* '' */