#container 

{
    width: 1100px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

#logo 

{
    width: 1040px;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 0.2ex;
    text-align: right;
    margin-right: 60px;
}

#nav 

{
    float:left;
}


#menu 

{
    width: 100px;
    margin-top: 100px;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;

    
}

#contact 

{
    width: 100px;
    margin-top: 170px;
    font-family: 'Quicksand', sans-serif;
    
}

#forcontent 

{
    width: 900px;
    float: left;
}

#content 

{
    width: 900px;
    margin-left: 60px;
    margin-bottom: 20px;
}

#footer 

{ 
   clear: both;
   width: 1100px;
   text-align: center;
   font-family: 'Quicksand', sans-serif;
   font-size: 14px; 
   margin-top: 20px;
   
}


a:link 

{
    color: black;
    text-decoration: none;
    background-color: transparent;

    
}

a:visited 

{
    color: black;
    text-decoration: none;
    background-color: transparent;
    
}

a:hover 

{
    color: lightgray;
    text-decoration: none;
    background-color: transparent;
    
}

#content1 

{
    text-align: center;
    margin-bottom: 140px;
    margin-top: 58px;
    width: 600px;
    margin-left: 200px;
    
}

#fbicon 

{
    
    float:left;
    text-align: left;
}

#instaicon 

{
    
    float:left;
}